* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 2px black;
}

main {
    width: 85dvw;
    margin: 0 auto;
    padding-bottom:  40px;
}

body, input, select {
    background-color: grey;
    color: #fdf000ff;
}

label {
    margin-right: 6px;
}


input, select {
    border: 1px solid white;
    padding: 5px 7px 5px 7px;
    color: white;
    width: 110px;
    box-sizing: border-box;
    border-radius: 8px;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.644);
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}

.flex div {
    text-align: center;
}

fieldset {
    margin: 0 auto 20px;
    padding: 20px 30px ;
    border-color: #fdf000ff;
    color: #fdf000ff;
    max-width: 350px;
    position: relative;
}

.btn {
    padding: 15px 25px;
    border: 1px solid #fdf000ff;
    font-weight: bold;
    color: #fdf000ff;
    background-color: #252525;
    border-radius: 50px;
    font-family: inherit;
}

#start-rt {
    display: block;
    margin: 30px auto 0;
    letter-spacing: .75px;
}

#start-rt:hover, #start-rt:focus {
    color: yellowgreen;
    border-color: yellowgreen;
}


.logo-img {
    width: 190px;
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}

.end-btn {
    padding: 10px 30px;
    font-size: 16px;
}

#reset-btn,
#last-btn,
#first-btn {
    padding: 6px 10px;
}

.end-btn:hover, 
.end-btn:focus,
#reset-btn:hover,
#reset-btn:focus,
#last-btn:hover,
#last-btn:focus,
#first-btn:hover,
#first-btn:focus {
    border-color: lightcoral;
    color: lightcoral;
}    

.delete-btns{
    margin: 0 auto 8px ;
    max-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#reset-btn {
    margin: 0 auto 0 0;
}

.grid-container {
    width: 100%;
    margin-top: 10px;
    justify-items:center;
}

.row {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 1px;
    margin-bottom: 1px;
}


.item {
    width: 62px;
    text-align:center;
    align-content: center;
    padding: 10px 0 10px;
    box-shadow: 0 0 0 1px black;
    text-shadow: 0 0 2px black;
}


.table-item:nth-child(odd) {
    background-color: lightslategray;
}


footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #252525;
    padding: 10px;
    position: absolute;
    top: 100%;
}