html, body {
    margin: 0;
    padding: 0;
}

main {
    width: 85dvw;
    margin: 0 auto;
}

body, input, select {
    background-color: grey;
    color: #fdf000ff;
}

label {
    display: block;
}

input, select {
    border: 1px solid white;
    padding: 5px 7px 5px 7px;
    color: white;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.644);
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px

}

fieldset {
    margin: 0 auto 50px;
    padding: 20px 30px ;
    border-color: #fdf000ff;
    color: #fdf000ff;
    max-width: 350px;
}

.btn {
    padding: 15px 25px;
    border: 1px solid #fdf000ff;
    font-weight: bold;
    color: #fdf000ff;
}

#start-rt {
    display: block;
    margin: 30px auto 0;
    background-color: #252525;
    border: 1px solid #fdf000ff;
}

#start-rt:hover, #start-rt:focus {
    color: yellowgreen;
    border-color: yellowgreen;
}


.logo-img {
    width: 190px;
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
}


.end-btn {
    margin-right: -30px;
    background-color: #252525;
    
}

.table-container {
    margin: 0 auto;
    overflow-x: auto;
}

table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

table, tr {
    border: 2px solid #252525;
    border-collapse:collapse ;
}


th, 
td {
    padding: 15px 10px ;
    border: 1px solid #252525;
}

th {
    font-size: 20px;
}

td {
    font-size: 16px;
}